.containergroup {
    display: flex;
    flex-direction: column; 
    background-color: #8dd8d3;
    position: absolute;
    top: 1.7cm; 
    left: 7cm; 
    right: 10px; 
    bottom: 10px; 
    padding: 20px; 
    overflow: auto; 
}

.listg {
    margin: 0 auto; 
    width: calc(100% - 430px); 
    background-color: #c6dedc;
    padding: 20px; 
    box-sizing: border-box; 
}

.listgroup {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.listg li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #b7e9e9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    list-style-type: none;
    transition: background-color 0.3s ease;
}
